<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link th:replace="~{fragments/header :: bootstrap-css}"/>
    <link rel="stylesheet" href="/css/newUser.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<form th:action="@{/reset-password/confirm}" th:method="post" class="changePassword-form-group">
    <input type="hidden" id="token" name="token" th:value="${token}" />

    <label for="newPassword" class="reset-password-label">New Password</label>
    <input type="password" id="newPassword" name="newPassword" class="reset-password-input" required>

    <label for="confirmPassword" class="reset-password-label">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="reset-password-input" required>

    <button type="submit" class="reset-password-button">Reset Password</button>
</form>
<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>
</html>
