<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Digital Health and Care Wales</title>
    <link th:replace="fragments/header :: bootstrap-css"/>
    <link rel="stylesheet" type="text/css" href="css/homeStyle.css"/>
    <link rel="stylesheet" type="text/css" href="css/profilePageStyling.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"/>
<div th:if="${success}" class="success-message">
    <p th:text="${success}"></p>
</div>
<div class="homeContainer">
<!--Recent applicant table-->
    <div class="tableContainerHome">
        <table class="homeTable">
            <caption class="captionFix" th:text="#{home.page.caption}"></caption>
            <thead>
            <th th:text="#{home.page.firstName}"></th>
            <th th:text="#{home.page.lastName}"></th>
            <th th:text="#{home.page.location}"></th>
            <th th:text="#{home.page.skills}"></th>
            <th th:text="#{home.page.ApplicationTime}"></th>
            </thead>
            <tbody>
<!--            Adding applicants-->
            <tr th:each="applicants : ${applicants}">
                <td th:text="${applicants.firstName}"></td>
                <td th:text="${applicants.lastName}"></td>
                <td th:text="${applicants.location}"></td>
                <td th:text="${applicants.skill}"></td>
                <td th:text="${applicants.createdAt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="buttonContainer">
        <a class="homeButton" th:href="@{/profile}" th:text="#{home.page.viewApplication}"></a>
        <a class="homeButton" th:href="@{/email}" th:text="#{header.email}"></a>
        <a class="homeButton" th:href="@{/statistics}" th:text="#{home.page.statistics}"></a>
        <a class="homeButton" th:href="@{add-applicant}" th:text="#{home.page.addApplicant}"></a>
    </div>
</div>

<!--    Buttons for navigation-->


<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>

</body>
</html>