<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link th:replace="~{fragments/header :: bootstrap-css}"/>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
    <div class="newUser">
        <button>
                <a th:href="@{/admin/add}" class="admin-new-user" th:text="#{admin.page.addUser}"></a>
        </button>
        <table class="table-content">
            <thead>
            <tr>
                <th th:text="#{admin.page.id}"></th>
                <th th:text="#{admin.page.username}"></th>
                <th th:text="#{admin.page.firstName}"></th>
                <th th:text="#{admin.page.lastName}"></th>
                <th th:text="#{admin.page.role}"></th>
                <th th:text="#{admin.page.action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <a th:href="@{/admin/user/{id}(id=${user.id})}" class="btn btn-primary" th:text="#{admin.page.viewDetails}"></a>
                </td>
            </tr>
            </tbody>
        </table>
</div>
<br><br>
<div class = "log">
    <table id="table2" class="logTable">
        <thead>
        <tr>
            <th th:text="#{admin.page.logType}">Log type</th>
            <th th:text="#{admin.page.logId}">Log Id</th>
            <th th:text="#{admin.page.UserId}">User Id</th>
            <th th:text="#{admin.page.applicantId}">applicant ID</th>
            <th th:text="#{admin.page.commMethod}">Comm Method</th>
            <th th:text="#{admin.page.actionTaken}">Action Taken</th>
            <th th:text="#{admin.page.content}">Content</th>
            <th th:text="#{admin.page.Time}">Time</th>
        </tr>
        </thead>
        <tbody>
        <tr class="logs" th:each="log : ${logs}">
            <td th:if="${log instanceof T(com.team14.clientProject.loggingSystem.CommunicationLog)}" th:text="Communication" class="communicationLog"></td>
            <td class="SystemLogs" th:unless="${log instanceof T(com.team14.clientProject.loggingSystem.CommunicationLog)}" th:text="System"></td>
            <td th:text="${log.getLogId()}"></td>
            <td th:text="${log.getUserId()}"></td>
            <td th:if="${log instanceof T(com.team14.clientProject.loggingSystem.CommunicationLog)}" th:text="${log.getApplicantId}"></td>
            <td th:unless="${log instanceof T(com.team14.clientProject.loggingSystem.CommunicationLog)}"></td>
            <td th:if="${log instanceof T(com.team14.clientProject.loggingSystem.CommunicationLog)}" th:text="${log.getCommunicationType()}"></td>
            <td th:unless="${log instanceof T(com.team14.clientProject.loggingSystem.CommunicationLog)}"></td>
            <td th:text="${log.getActionTaken()}"></td>
            <td th:if="${log instanceof T(com.team14.clientProject.loggingSystem.CommunicationLog)}" th:text="${log.getNotes()}"></td>
            <td th:unless="${log instanceof T(com.team14.clientProject.loggingSystem.CommunicationLog)}"></td>
            <td th:text="${log.getTimestamp()}"></td>
        </tr>

        </tbody>
    </table>
</div>
<br><br>
<div class = "log">
    <table class="logTable">
        <thead>
        <tr>
            <th th:text="#{admin.page.logType}">Log type</th>
            <th th:text="#{admin.page.logId}">Log Id</th>
            <th th:text="#{admin.page.UserId}">User Id</th>
            <th th:text="#{admin.page.Time}">Time</th>
            <th th:text="#{admin.page.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="logs" th:each="systemLog : ${systemLogs}">
            <td class="sessionLogs" th:text="System"></td>
            <td th:text="${systemLog.getLogId()}"></td>
            <td th:text="${systemLog.getUserId()}"></td>
            <td th:text="${systemLog.getTimestamp()}"></td>
            <td>
                <a th:href="@{/admin/session/user/{id}/{logoutTime}(id=${systemLog.getUserId()}, logoutTime=${systemLog.timestamp})}" class="btn btn-primary" th:text="#{admin.page.viewDetails}"></a>            </td>
        </tr>

        </tbody>
    </table>
</div>
<br><br>
<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>
</html>