.tableClickable {
    width: 90%;
    margin: 0 auto;
    align-content: center;

}
.tableClickable th, .tableClickable td {
    border: 1px solid black;
    border-collapse: collapse;
}
.tableClickable thead {
    background: #2D366C;
    color: white;
    padding: 200px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    cursor: crosshair;
}

.tableClickable tbody tr {
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.tableClickable tbody tr:not(:first-child) {
    border-top: 1px #2D366C;
}

.tableClickable tbody tr:last-child {
    border-bottom: 1px #2D366C;
}
.tableClickable tbody tr:hover {
    color: white;
    background: #2D366C;
}
.thisDropdown {
    background-color: #2D366C;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    cursor: crosshair;
    border: #2D366C;
}
.thisDropdown option {
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 0.4em;
}
#searchBar{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #2D366C;
    border-radius: 4px;
}
