<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicant Profile</title>
    <link rel="stylesheet" href="/styling/IndividualProfiles.css">
    <link th:replace="fragments/header :: bootstrap-css"/>
    <link rel="stylesheet" type="text/css" href="/css/profilePageStyling.css"/>
    <script src="/javaScript/profilePageJS.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const alertMessage = /*[[${alertMessage}]]*/ 'default message';
        if (alertMessage) {
            alert(alertMessage);
        }
        /*]]>*/
    </script>
    <script>
        function searchFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("searchBar");
            filter = input.value.toUpperCase();
            table = document.getElementById("table1");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                tdFirstName = tr[i].getElementsByTagName("td")[0];
                tdLastName = tr[i].getElementsByTagName("td")[1];
                if (tdFirstName || tdLastName) {
                    txtValueFirstName = tdFirstName ? tdFirstName.textContent : "";
                    txtValueLastName = tdLastName ? tdLastName.textContent : "";
                    if (txtValueFirstName.toUpperCase().indexOf(filter) > -1 || txtValueLastName.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

</head>
<body>

    <div th:replace="~{fragments/header :: header}"/>
    <input type="text" id="searchBar" onkeyup="searchFunction()" placeholder="Input name">
    <form th:if="${profile != null}" th:action="@{/profile/sendEmail/{userID}(userID=${profile.getId()})}" method="post" onsubmit="showAlert()">
        <button type="submit"> Email <span th:text="${userId}"></span></button>
    </form>
    <table id="table1" class="tableClickable">
        <thead>
        <tr>
            <th th:data-type="firstName">First Name</th>
            <th th:data-type="lastName">Last Name</th>
            <th th:data-original-text="Location">
                <select id="locationDropdown" class="thisDropdown">
                    <option value="" >All Locations</option>
                    <option th:each="location : ${uniqueLocations}" th:value="${location.getLocation()}" th:text="${location.getLocation()}" ></option>
                </select>
            </th >
            <th th:data-original-text="event">
                <select id="eventDropdown" class="thisDropdown">
                    <option value="">All events</option>
                    <option th:each="event : ${uniqueEvents}" th:value="${event.getEventAttended()}" th:text="${event.getEventAttended()}"></option>
                </select>
            </th>
            <th>
                <select id="skillDropdown" class="thisDropdown">
                    <option value="">All Skills</option>
                    <option th:each="skill : ${uniqueSkills}" th:value="${skill}" th:text="${skill}"></option>
                </select>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="profile : ${profileList}" th:data-href="@{/profile/{id}(id=${profile.getId()})}" th:data-location="${profile.getLocation()}" th:data-firstName="${profile.getFirstName()}" th:data-lastName="${profile.getLastName()}" th:data-event="${profile.getEventAttended()}" th:data-skill="${profile.getSkill()}">
            <td th:text="${profile.getFirstName()}"></td>
            <td th:text="${profile.getLastName()}"></td>
            <td th:text="${profile.getLocation()}"></td>
            <td th:text="${profile.getEventAttended()}"></td>
            <td th:text="${profile.getSkill()}"></td>



        </tr>
        </tbody>
    </table>



    <div th:if="${profile != null}" class="profile-container">
    <div class = "profile-details">
        <h2>Personal Details</h2>
        <table class="tableApplicant">
            <tr>
                <th>First Name</th>
                <td th:text="${profile.firstName}"></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td th:text="${profile.lastName}"></td>
            </tr>
            <tr>
                <th>Location</th>
                <td th:text="${profile.location}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td th:text="${profile.email}"></td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td th:text="${profile.phoneNumber != null ? profile.phoneNumber : 'N/A'}"></td>
            </tr>

        </table>
        <br>

        <h2>Applicant Experience</h2>
        <table class="tableApplicant">
            <tr>
                <th>Current Position</th>
                <td th:text="${profile.jobDetails?.currentPosition != null ? profile.jobDetails.currentPosition : 'N/A'}"></td>
            </tr>
            <tr>
                <th>Status</th>
                <td th:text="${profile.jobDetails?.status != null ? profile.jobDetails.status : 'N/A'}"></td>
            </tr>
            <tr>
                <th>Skills</th>
                <td th:text="${profile.skill != null ? profile.skill : 'N/A'}"></td>
            </tr>
            <tr>
                <th>Event Attended</th>
                <td th:text="${profile.eventAttended}"></td>
            </tr>
        </table>

        <br>

        <h2>Applicant Preferences</h2>

        <table class="tableApplicant">
            <tr>
                <th>Subscribed to newsletter?</th>
                <td th:text="${profile.preferences?.subscribeToNewsletter} ? 'Yes' : 'No'"></td>
            </tr>
            <tr>
                <th>Subscribed to bulletins?</th>
                <td th:text="${profile.preferences?.subscribeToBulletins} ? 'Yes' : 'No'"></td>
            </tr>
            <tr>
                <th>Subscribed to job updates?</th>
                <td th:text="${profile.preferences?.subscribeToJobUpdates} ? 'Yes' : 'No'"></td>
            </tr>
        </table>

        <a th:href="@{/profile}">Back to Profiles</a>

    </div>

    <div class = resume-section>
        <h2>Applicant CV/Resume</h2>
        <form th:action="@{/profile/uploadCV/{userID}(userID=${profile.getId()})}" method="post" enctype="multipart/form-data">
            <label for="cvUpload">Select CV (PDF only):</label>
            <input type="file" id="cvUpload" name="cvUpload" accept="application/pdf" required>
            <button type="submit">Upload CV</button>
        </form>

    </div>

</div>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer-links}"></div>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
</body>
</html>
